*{
    padding: 0;
    margin: 0;
    font-style: none;
    text-decoration: none;
    list-style-type: none;
    box-shadow: none;
    outline: none;
    
}

header{
    display: flex;
    height: 70px;
    position: relative;
}




body.active{
    overflow: hidden;
    
}

nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid #CFCFCF;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h1{
    font-family: inter;
    font-weight: bold;
    display: flex;
    font-size: 30px;
}

.logo:hover{
    cursor: pointer ;
}

#verde{
    color: #6DF28A;
}

.barra-de-pesquisa input{
    border: none;
    padding-left: 10px;
    width: 90%;
}

.barra-de-pesquisa{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    outline: #CFCFCF solid 2px;
    border-radius: 10px;
}

.menu h3{
    font-family: inter;
    color: #848484;
    font-size: 14px;
    font-weight: 600;
}

.notificacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.notificacoes:hover{
    
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    cursor: pointer;
   
}

.servicos:hover{
    
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    cursor: pointer;
   
}

.chat:hover{
    
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    cursor: pointer;
   
}

.postar:hover{
    
    background-color: rgba(128, 128, 128, 0.205);
    border-radius: 12px;
    cursor: pointer;
   
}



.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.btn-postar{
    width: 30px;
    height: 30px;
    background-color: #6DF28A;
    border-radius: 50%;
    
}

.postar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.icone{
    color: #848484;
}

.btn-entrar{
    outline: 2.5px solid #AEAEAE;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
}

.btn-entrar{
    font-family: inter;
    font-weight: 400;
    color: #848484;
    font-size: 16px;
}

.cadastrar{
    outline: 2.5px solid #AEAEAE;
    padding: 10px 15px 10px 15px;
    border-radius: 6px;
    font-family: inter;
    color: #848484;
    font-size: 16px;
}

h4{
    font-weight: 400;
}

.cadastrar:hover{
    background-color: #6DF28A;
    outline: #6DF28A;
    color: white;
    cursor: pointer;
}

.btn-entrar:hover{
    background-color: #6DF28A;
    outline: #6DF28A;
    color: white;
    cursor: pointer;
}

.filtro{
    border-left: 2px solid #CFCFCF;
}

.material-symbols-outlined.cu2{
    color: #6DF28A;

    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
  }




main{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

}

.produto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-produto{
    display: flex;
    width: 70%;
    background-color: hsla(0, 0%, 79%, 0.200);
    padding: 20px;
    border-radius: 6px;
}

.infos{
    margin-left: 20px;
}

.sobre{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    justify-content: start;
    align-items: center;
    width: 40%;
    
}

.info{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    
}

.info p{
    font-size: 15px;
    font-family: inter;
    color: black;
    font-weight: 600;
}

.fotos{
    width: 75%;
}

.fotos img{
    height: 380px;
    width: 100%;
}

.infos h1{
    font-size: 30px;
    font-family: inter;
    color: black;
    font-weight: 600;
}


.infos h3{
    font-size: 25px;
    font-family: inter;
    color: black;
    font-weight: 600;
    margin-top: 5px;
}

.sobre-mim{
    margin-top: 10px;
    margin-bottom: 10px;
}

.sobre-mim h2{
    font-size: 20px;
    font-family: inter;
    color: black;
    font-weight: 600;
}

.sobre-mim p{
    font-size: 17px;
    font-family: inter;
    color: black;
    font-weight: 500;
    margin-top: 2px;
}

.material-symbols-outlined.cu{
    font-size: 25px;
    color: #38c556;

    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
  }

.botoes{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 55px;
}

.btn-contratar{
    background-color: #19E345;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 45px;
}

.btn-contratar h1{
    font-size: 22px;
    color: white;
}

.btn-contratar:hover{
    background-color: #38c556;
    cursor: pointer;
    transition: 0.3s;
}

.btn-chat{
    background-color: transparent;
    outline: black solid 2px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 45px;
    margin-left: 20px;
}

.btn-chat:hover{
    background-color: rgba(128, 128, 128, 0.247);
    cursor: pointer;
    transition: 0.3s;
}


.btn-chat h1{
    font-size: 16px;
    color: black;
}

.avaliacoes{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 79%, 0.200);
    margin-top: 50px;
}

.container-avaliacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-avaliacoes{
    margin-top: 20px;
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
}

.avaliacao{
    margin-top: 30px;
    display: flex;
    background-color: hsla(0, 0%, 79%, 0.288);
    width: 80%;
    padding:15px;

}

.foto-usuario img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}

.conteudo-avaliacao{
    width: 85%;
    margin-left: 10px;
}

.container-avaliacoes p{
    margin-top: 2px;
    font-family: inter;
    font-size: 17px;
    font-weight: 500;
}

.container-avaliacoes h3{
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
}

.curtidas{
    width: 100%;
    display: flex;
    justify-content: end;
}

.like{
    margin-top: 5px;
}

.material-symbols-outlined.like:hover{
    color: #38c556;
    cursor: pointer;
    transition: 0.3s;
  font-variation-settings:
  'FILL'1 ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.rate{
    display: flex;
    align-items: center;
}

.rate h3{
    font-size: 15px;
    
}

.material-symbols-outlined.star{
    font-size: 18px;
    color: #38c556;
  font-variation-settings:
  'FILL'1 ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined.like.ativado{
    color: #38c556;

  font-variation-settings:
  'FILL'1 ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



.menu-icon{
    display: none;
}


.menu-aberto{display: none;

}

.login-camp{
    display: none;
}

.login-camp.active{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #AEAEAE;
}

.campo{
    display: flex;
    flex-direction: column;
    
}

.campo:not(:last-child){
    margin: 15px 0px;
}

.input{
    background-color: #D9D9D9;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    
}

.input input{
    margin: 0px 10px;
    width: 90%;
    background-color: transparent;
    font-family: poppins;
    font-size: 15px;
    color: #838383;
    height: 100%;
    outline: none;
    border: none;
}

.campo-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin: 10px 10px;
    border-bottom: white solid 2px;
}

.campo-input input{
    font-family: poppins;
    font-size: 35px;
    background-color: transparent;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

label{
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
}

form{
    margin-top: 10px;
    width: 85%;

}

.btn-enviar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-enviar button{
    background-color: #38c556;
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 6px;
    color: white;
    font-family: poppins;
    font-size: 15px;
    cursor: pointer;
}

.btn-enviar button:hover{
    background-color: #098a25;
    transition: 0.2s;
}

#textoEntrar{
    font-family: poppins;
    margin-top: 15px;
    font-size: 25px;

}

#visibilidade{
    margin-right: 10px;
    cursor: pointer;
   
}


#visibilidade.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.menu-icon{
    display: none;
}


.menu-aberto{display: none;

}

/* RESPONSIVIDADE */

@media (max-width:500px) {

    header{

        background-color: white;

    }

    nav{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #CFCFCF;
        background-color: white;
        position: fixed;
        height: 70px;

    }

    
    .servicos, .chat, .notificacoes, .btn-entrar, .cadastrar, .postar, .barra-de-pesquisa{
        display: none;
    }


    .menu-icon{
        display: flex;
        float: left;
        margin-left: 15px;
    }

    .menu-icon:hover{
        background-color: rgba(128, 128, 128, 0.205);
        border-radius: 12px;
        outline: 4px solid rgba(128, 128, 128, 0.205);
        cursor: pointer;
    }

    .menu-aberto.active{
        display: flex;
        background-color: white;
        border-right: 2px solid #AEAEAE;
        height: 260px;
        width: 100%;
        position: fixed;
        border-top: solid 2px #AEAEAE;
    }
    
    .menu-aberto ul{
        padding: 0px 0px 0px 0px;
        width: 100%;
        
    }
    
    .menu-aberto li h3{
        font-family: inter;
        color: #848484;
        font-size: 16px;
        padding: 20px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-aberto li h3:hover{
        background-color: #38c556;
        color: white;
    }

    .menu-aberto li{
        border-bottom: 2px solid #AEAEAE;
    }



    .container-produto{
        display: flex;
        width: 70%;
        background-color: hsla(0, 0%, 79%, 0.200);
        padding: 20px;
        border-radius: 6px;
        flex-direction: column  ;
 
    }

    
    
    .fotos{
        width: 100%;
    }
   

    .fotos img{
        width: 100%;
        height: 300px;
    }

    .sobre{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .botoes{
        justify-content: center;
    }

    .botoes h1{
        font-size: 14px;
    }

    .btn-contratar{
        background-color: #19E345;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        height: 40px;
    }

    .btn-chat{
        background-color: transparent;
        outline: black solid 2px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        height: 40px;
        margin-left: 20px;
        text-align: center;
    }

    .container-avaliacoes h1{
        font-size: 25px;
        text-align: center;
    }
    
    .avaliacoes{
        width: 90%;
    }

    .foto-usuario img{
        width: 35px;
        height: 35px;
    }

    .conteudo-avaliacao h3{
        font-size: 16px;
    }

    .avaliacao p{
        font-size: 14px;
    }

    .produto{
        width: 90%;
    }

    .container-produto{
        display: flex;
        width: 100%;
        background-color: hsla(0, 0%, 79%, 0.200);
        padding: 20px;
        border-radius: 6px;
        margin-top: 50px;

    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 0;
    }

    .sobre-mim p{
        font-size: 15px;
    }

   #titulo {
    font-size: 23px;
   }

    .infos h3{
        font-size: 20px;
    }

}

.campo-chat{
   display: none;
    
}

.campo-chat.active{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: end;
    align-items: end;

}



.chat-open{
    width: 320px;
    height: 400px;
    background-color: white;
    border: 2px solid #AEAEAE;
    position: fixed;
    margin-right: 80px;
    border-radius: 6px;
    margin-bottom:10px;
    display: flex;
    flex-direction: column ;
    z-index: 3;
    
}

.user-chat{
    height: 8vh;
    background-color: #19E345;
    width: 100%;
    
}

.container-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.about-user{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.about-user img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.about-user h2{
    color: white;
    font-family: inter;
    font-size: 17px;
    cursor: pointer ;
}

.options-chat{
    margin-right: 10px;
    color: white;
}

.text-camp{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: scroll;
}

.input-camp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12%;
    border-top:2px solid #CFCFCF;
}

.escrever-texto{
    width: 85%;
    height: 100%;
    overflow: visible;
}

.escrever-texto input{
    width: 100%;
    height: 100%;
    border: none;
    font-family: inter;
    font-size: 15px;
    font-weight: 400;
}

.material-symbols-outlined.icone2{
    color: #19E345;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined.icone2:hover{
    color: #098a25;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.icone2:hover{
    cursor: pointer;
}

.texto{
    width: 80%;
    background-color: #38c556;
    border-radius: 6px;
    margin:10px 10px 0px 0px;

}

.texto p{
    text-align: justify;
    padding: 10px;
    color: white;
    font-family: inter;
    font-weight: 400;
}

.hora{
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    color: #AEAEAE;
    margin-right: 10px;
}

.user-chat-open{
    display: none;
}

.user-chat-open.active{
    display: block;
    height: 8vh;
    background-color: #19E345;
    width: 320px;
    position: fixed;
    margin-right: 80px;
    border-radius: 6px;
    margin-bottom:10px;
    z-index: 5;
}

.maximizar, .minimizar:hover{
    cursor: pointer;
}

.login-logo{
    margin-top: 20px;
}

.login-logo img{
    width: 150px;
}